/* Font Faces */
@font-face {
  font-family: 'Playfair Display';
  src: url(/assets/fonts/PlayfairDisplay-Regular.woff2);
}

@font-face {
  font-family: 'Playfair Display';
  font-weight: 700;
  src: url(/assets/fonts/PlayfairDisplay-Bold.woff2);
}

:root {
  /* Color Custom Properties */
  --color-neutral-400: #FCE4EC;
  --color-primary-400: #e22d64;
  --color-primary-700: #93032E;
  --color-secondary-400: #231651;
  --bg: var(--color-neutral-400);

  /* Utility Custom Properties */
  --fs-xsmall: .833rem;
  --fs-small: 1rem;
  --fs-smedium: 1.20rem;
  --fs-medium: 1.44rem;
  --fs-large: 2.488rem;
  --fs-xlarge: 2.986rem;
}

/* Utility Classes */ 
.center {
  text-align: center;
}

/* Default Styles */
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: 'Playfair Display', 'Times', sans-serif;
  box-sizing: border-box;
}
/* 
* {
  border: 2px solid black;
} */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  font-size: var(--fs-small);
  margin: 0;
  padding: 0;
  text-wrap: pretty;
}

h1,
h2,
h3 {
  margin-block: 2rem;
}

h2 {
  font-size: var(--fs-large);
  text-transform: uppercase;
}

h3 {
  font-size: var(--fs-medium);
}

.services,
.features,
.lookbook,
.contact,
.about {
  margin-block: 8rem;
}

/* Default Container */
.container {
  width: min(100% - 2rem, 1400px);
  margin-inline: auto;
}

/* Navigation */

header .container {
  width: calc(100% - 2rem);
}

header {
  color: var(--color-neutral-400);
  height: fit-content;
  width: 100%;
  position: fixed;
  top: 0;
  background: var(--color-primary-700);
  font-size: var(--fs-smedium);
  box-shadow: 5px 0px 20px -15px rgba(0, 0, 0, .7);
  z-index: 1;
}

header img {
  width: 150px;
}

nav {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  padding: 1.5rem;
}


.navBar {
  display: flex;
  align-items: center;
  gap: 2rem;
}


.navBar a {
  position: relative;
  transition: color 200ms ease-in;
}

.navBar a:focus-visible {
  outline: 2px dotted var(--color-neutral-400);
  outline-offset: 5px;
}

.navBar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-radius: 100%;
  color: var(--color-neutral-400);
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 225ms ease-in;
}

.navBar a:hover::after,
.navBar a:focus-visible::after {
  transform: scaleX(1);
  transform-origin: left; 
}

.active {
  color: var(--color-neutral-400);
}

/* Hamburger Styling/Animations */

.hamburger_nav {
  display: none;
  position: absolute;
  max-width: min-content;
  max-height: min-content;
  margin-inline: 1rem;
  right: 0;
  top: 25%;
  color: transparent;
  background: transparent;
  border: 0;
}

.hamburger_nav:focus-visible {
  outline: 2px dotted var(--color-neutral-400)  
}

.hamburger_nav .line {
  transform-origin: center;
}

.hamburger_nav[data-state="closed"] .line {
  animation: open-icon 500ms forwards;
}

.hamburger_nav[data-state="opened"] .line {
  animation: close-icon 500ms forwards;
}

.hamburger_nav .hamburger {
  transition: rotate 800ms 200ms;
}

.hamburger_nav[data-state="opened"] .hamburger {
  rotate: 1turn;
}

.hamburger_nav .line.top {
  --translate: 10px;
  --rotation: 45deg;
}

.hamburger_nav .line.bottom {
  --rotation: -45deg;
  --translate: -10px;
}

@keyframes close-icon {
  0% { stroke-dashoffset: 0; }
  40% { stroke-dashoffset: 79.9; transform: translateY(var(--translate));}
  60% { stroke-dashoffset: 79.9; transform: translateY(var(--translate)); rotate: var(--rotation);}
  100% { stroke-dashoffset: 0; transform: translateY(var(--translate)); rotate: var(--rotation);}
}

@keyframes open-icon {
  0% { stroke-dashoffset: 0; transform: translateY(var(--translate)); rotate: var(--rotation); }
  40% { stroke-dashoffset: 79.9;}
  100% { stroke-dashoffset: 0;}
}

@media screen and (max-width: 750px) {
  header {
    isolation: isolate;
  }

  .navBar {
    background: #e22d64;
    flex-direction: column;
    padding: 3rem 5rem;
    position: absolute;
    color: black;
    right: 0;
    top: 0;
    transform: translateX(100%);
    margin-block-start: 82px;
    transition: transform 300ms 200ms ease-out,
                visibility 300ms 250ms ease-out;
    border-bottom-left-radius: 10px;
    visibility: hidden;
  }

  .navBar a:focus-visible {
    outline: 2px dotted black;
  }

  .navBar a:after {
    color: black;
  }

  .active {
    color: black;
  }

  .openNav {
    transition: transform 300ms 200ms ease-in;
    visibility: initial;
    transform: translateX(0);
  }

  /* For hamburger menu, within the media query use the width: min(nearly 100% for mobile, default size for menu when not mobile. It will use the second value when it is big enough and swap to 100% of the screen when mobile, whichever is smaller!) */

  .hamburger_nav {
    display: block;
  }
}

@media screen and (max-width: 550px) {
  .navBar {
    border-bottom-left-radius: 0;
    align-items: center;
    padding: 2rem 0;
    width: 100%;
  }
}

/* Hero Styling */

.hero {
  display: flex;
  align-items: center;
  height: 100svh;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.hero img {
  z-index: -2;
  position: absolute;
  object-fit: cover;
  object-position: center;
  min-height: 100svh;
  width: 100%;
}

.hero .container {
  margin-inline-start: 60%;
}

.hero::before {
  content: '';
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  inset: 0;
  z-index: -1;
}


.hero h1 {
  font-size: var(--fs-xlarge);
  width: min(80%, 30ch);
}

.hero p {
  font-weight: 700;
  width: min(80%, 30ch);
}

/* jshooks for heroImg */
.not-loaded {
  opacity: 0;
}

.loaded {
  opacity: 1;
  transition: 1000ms ease-in-out;
}


@media screen and (max-width: 450px) {
  .hero h1 {
    font-size: var(--fs-large);
    width: min(80%, 30ch);
  }
  
  .hero p {
    font-size: var(--fs-xsmall);
    width: min(80%, 30ch);
  }
}

@media screen and (max-width: 750px) {
  .hero .container {
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-inline: auto;
    text-align: center;
  }
}

/* Created a dedicated, absolutely positioned image! Don't need these anymore. */
/* @media screen and (max-width: 1300px) {
  .hero {
    background-image: url(../src/mainBg1300.webp);
  }
}

@media screen and (max-width: 950px) {
  .hero {
    background-image: url(../src/mainBg950.webp);
  }
}

@media screen and (max-width: 550px) {
  .hero {
    background-image: url(../src/mainBg550.webp);
    background-position: center 20px;
  }
} */

/* Features Styling */

.features .container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.feature {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 300px;
  background-color: #fff;
  box-shadow: 0 1rem 2rem -1rem rgb(0 0 0 / .2);
  border-radius: 10px;
  color: var(--color-secondary-400);
  padding: 1rem;
}

.feature * {
  margin-block: 1rem;
}

.feature h3 {
  margin-bottom: .25rem;
}

.feature img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}

.feature p {
  padding-inline-start: .25rem;
}

.wrapper-img {
  width: 8rem;
  height: 8rem;
  position: relative;
  /* border-radius: 50%; */
  /* overflow: hidden; */
}

@media screen and (max-width: 750px) {
  .features .container{
    flex-direction: column;
    align-items: center;
  }
  
  .feature {
    width: min(100% - 2rem, 350px);
  }
}

/* About Styling */ 

.about {
  background-color: #fff;
}

.about h2 {
  margin-block: 0 2rem;
  width: fit-content;
}

.about .container {
  padding-block: 5rem;
  display: flex;
  gap: 3rem;
}

.wrapper-content {
  flex-basis: 50%;
  margin-left: auto;
}

.about p {
  width: min(100% - 2rem, 45ch);
}

.about img {
  align-self: center;
  margin-inline-start: 10px;
  width: min(50% - 2rem, 600px);
  box-shadow: -10px 10px 0px 0px var(--color-primary-400);
}

@media screen and (max-width: 750px) {
  .about .container {
    display: block;
    text-align: center;
  }

  .about h2 {
    width: 100%;
  }
  
  .wrapper-content {
    text-align: center;
  }

  .about p {
    margin-inline: auto;
  }

  .about img {
    width: 100%;
    margin: 0 0 2rem 0;
    box-shadow: 0px 20px 0px -10px var(--color-primary-400);
  }

}

/* Services Styling */ 
.services .container {
  width: 60%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.service th:first-child {
  width: 80%;
}

.service,
.service tr:first-child {
  border-collapse: collapse;
  text-align: left;
  /* color: var(--color-neutral-400);
  background: var(--color-primary-400); */
}

caption,
th,
td {
  padding-block-end: .5rem;
  font-size: var(--fs-smedium);
}

td[data-cell="service"],
td[data-cell="price"] {
  font-size: var(--fs-small);
  font-weight: 700;
}

th[data-cell="price"],
td[data-cell="price"] {
  text-align: right;
}

td[data-cell="description"],
td[data-cell="description-last"] {
  font-size: var(--fs-xsmall);
}

td[data-cell="description"]::after {
  margin-block-start: 1rem;
  display: block;
  content: '';
  /* width: 90%; */
  border-bottom: 5px dotted rgb(0 0 0 / .2);
}

caption {
  width: fit-content;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--fs-smedium);
}

@media screen and (max-width: 750px) {
  .services .container {
    width: calc(100% - 2rem);
    flex-direction: column;
  }
  table {
    margin-inline: auto;
  }
}

/* Lookbook styling */
.lookbook {
  background: white;
  padding-block: 8rem;
}

.lookbook .container {
  width: min(100% - 13rem, 1200px);
}

.lookbook-grid {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(auto-fit, 1fr);
  grid-template-areas: 
    'one'
    'two'
    'three'
    'four'
    'five'
    'six'
    'seven'
    'eight'
    'nine'
}

.lookbook-grid_image-wrapper:nth-child(1) {
  grid-area: one;
}
.lookbook-grid_image-wrapper:nth-child(1) {
  grid-area: one;
}
.lookbook-grid_image-wrapper:nth-child(2) {
  grid-area: two;
}
.lookbook-grid_image-wrapper:nth-child(3) {
  grid-area: three;
}
.lookbook-grid_image-wrapper:nth-child(4) {
  grid-area: four;
}
.lookbook-grid_image-wrapper:nth-child(5) {
  grid-area: five;
}
.lookbook-grid_image-wrapper:nth-child(6) {
  grid-area: six;
}
.lookbook-grid_image-wrapper:nth-child(7) {
  grid-area: seven;
}
.lookbook-grid_image-wrapper:nth-child(8) {
  grid-area: eight;
}
.lookbook-grid_image-wrapper:nth-child(9) {
  grid-area: nine;
}

.grid_image {
  width: 100%;
  object-position: center;
  object-fit: cover;
  display: block;
  transition: transform 200ms ease-out,
              filter 200ms ease-out;
}

.grid_image:hover {
  filter: contrast(105%);
  transform: scale(1.1);
}

.grid_image.square {
  aspect-ratio: 1;
}

.lookbook-grid_image-wrapper {
  overflow: hidden;
  border-radius: 2px;
}

@media screen and (min-width: 550px) {
  .lookbook .container {
    width: min(100% - 2rem, 1200px);
  }
  .lookbook-grid {
    grid-template-areas: 
      'one two'
      'one two'
      'three four'
      'three four'
      'five six'
      'five six'
      'seven eight'
      'seven eight'
      'nine nine';
  }
}

@media screen and (min-width: 1000px) {
  .tall {
    height: 100%;
  }

  .lookbook-grid {
    grid-template-areas: 
      'one eight two'
      'one eight two'
      'three eight four'
      'three seven four'
      'five seven six'
      'five seven six'
      'nine nine nine';
  }
}

/* Testimonials Styling */
.testimonial {
  display: flex;
  background: white;
  border-radius: 10px;
  flex-direction: column;
  align-items: center;
  font-size: var(--fs-smedium);
  box-shadow: 2px 4px 10px -5px rgb(0 0 0 / .1);
}

.testimonial:last-child {
  margin-inline-end: 1rem;
}

.testimonials img {
  margin-block-start: 1rem;
  border-radius: 100vh;
  aspect-ratio: 1 / 1;
  width: 100px;
  box-shadow: 2px 4px 10px -5px rgb(0 0 0 / .5)
}

.testimonial_stars img {
  width: 15px;
}

.testimonial p {
  font-size: var(--fs-smedium);
}

blockquote {
  hanging-punctuation: first last;
  margin: 1rem 2rem 2rem;
}

blockquote p::before {
  content: open-quote;
}

blockquote p::after {
  content: close-quote;
}

cite {
  display: inline-block;
  margin-block-start: .5rem;
}



/* Contact Styling */
.contact {
  background: #fff;
  padding-block-end: 8.7rem;
  margin-block-end: 0;
}

.contact fieldset {
  border: none;
  gap: 1rem;
  display: flex;
  flex-wrap: wrap;
  width: min(100% - 2rem, 550px);
  margin-inline: auto;
}

.contact h2 {
  padding-block-start: 8rem;
}

.contact legend {
  font-size: var(--fs-medium);
  padding-block-end: 2rem;
}

textarea,
input {
  padding: .5rem;
  border-radius: 0;
  border: 1px solid black;
}

textarea:focus-visible,
input:focus-visible {
  outline: 2px solid var(--color-primary-400);  
  outline-offset: -2px;
}

label {
  display: block;
  padding-block: .5rem;
}

.wrapper-inputs,
.message {
  padding-inline: 2rem;
}

.message {
  flex-basis: 100%;
}

textarea {
  width: 100%;
  min-height: 8rem;
}


.button_submit {
  margin-inline: 2rem;
}

@media screen and (max-width: 568px) {
  .contact fieldset {
    display: block;
  }

  .email,
  .name {
    width: fit-content;
    margin-inline: auto;
  }

  .message {
    width: 200px;
  }

  .wrapper-inputs,
  .message {
    display: block;
    margin-inline: auto;
  }

  textarea {
    width: 200px;
    padding-inline: 0;
  }

  form .button_submit {
    display: block;
    margin-inline: auto;
  }
  /* .message {
    width: 200px;
  }

  textarea {
    padding: 0;
    display: block;
    margin-inline: auto;
  }
  
  .message label {
    width: fit-content;
  }

  form .button_submit {
    margin-inline: auto;
  } */
}

/* Footer Styling */

footer .container {
  gap: 4rem;
  width: min(100% - 2rem, 1000px);
  display: flex;
  padding-block: 2rem;
}

.copyright-info {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.copyright-info a > p {
  width: 80%;
  padding-block: .5rem;
}

.copyright-info a {
  width: fit-content;
}

footer li {
  padding-block: .5rem;
}

.contact-title {
  padding-block: .5rem 0.25px;
  font-weight: bold;
}

.contact-content {
  padding-block: 0 1rem;
}

.contact-content-hours {
  padding-block: 0.25rem 0;
}

.hours {
  flex-shrink: 0;
}

/* Socials */

.social-links {
  gap: 0.5rem;
  /* margin-inline-end: 5rem; */
  display: flex;
}

.social-links li {
  margin-block-start: .5rem;
  outline: none;
  padding: 0;
}

.social-links img{
  width: 30px;
}

@media screen and (max-width: 750px) {
  footer .container {
    width: calc(100% - 5rem);
    display: block;
  }
  
  .contact_info-title {
    padding-block-start: .5rem;
  }

  .hours li {
    padding-block: 0 0.25rem;
  }

  .hours li:first-child {
    padding: 0;
  }

  .social-links li {
    padding-block-start: 0.25rem;
  }
}

/* Button Styling */

.button {
  display: inline-block;
  border: 2px solid var(--color-primary-700);
  background: var(--color-primary-700);
  color: var(--color-neutral-400);
  font-size: var(--fs-small);
  margin-inline-start: 2px;
  padding: .75rem 1.5rem;
  margin-block: 1rem;
  font-weight: 700;
  cursor: pointer;
  line-height: 1;
  outline: 2px solid var(--color-primary-700);
  outline-offset: -2px;
  transition: outline-offset 100ms ease-in;
}

.button:hover,
.button:focus-visible {
  outline: 2px solid var(--color-neutral-400);
  outline-offset: -6px;
}

.button_booking {
  display: block;
  width: fit-content;
  margin-inline: auto;
}

.button_submit {
  margin-inline-start: calc(2rem + 2px);
}

/* Scroll Snapping */

html {
  scroll-behavior: smooth;
  scroll-padding-block-start: 5rem;
  /* scroll-snap-type: y proximity;*/
}

/* #home,
#about,
#services,
#contact {
  scroll-snap-align: center;
} */

#home {
  scroll-margin-top: 100rem;
}

#services {
  scroll-margin-top : 4rem;
}

#about {
  scroll-margin-top: 9rem;
}

#lookbook {
  scroll-margin-top: -4rem;
}

#contact {
  scroll-margin-top: -.5rem;
}

/* Carousel Styling */

.embla {
  overflow: hidden;
  padding-block: 1rem;
}

.embla__container {
  margin-inline: auto;
  display: flex;
  width: 90%;
  gap: 1rem;
}

.embla__slide {
  flex: 0 0 30%;
  min-width: 0;
}


@media screen and (max-width: 950px) {
  .embla__slide {
    flex-basis: 50%;
  }
}

@media screen and (max-width: 650px) {
  .embla__slide {
    flex-basis: 90%;
  }
}

/* Citations Page Styling */ 

.cites {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
}

.citations a{
  color:#441cd3; 
  text-decoration: underline;
}

.citations li {
  padding: .5rem;
}
