:root {
  /* Color Custom Properties */
  --color-neutral-400: #FCE4EC;
  --color-primary-400: #93032E;
  --color-primary-300: #fff175c0;
  --bg: var(--color-neutral-400);

  /* Utility Custom Properties */
  --fs-xsmall: .833rem;
  --fs-small: 1rem;
  --fs-smedium: 1.20rem;
  --fs-medium: 1.44rem;
  --fs-large: 2.488rem;
  --fs-xlarge: 2.986rem;
}

/* Default Styles */
body {
  margin: 0;
  padding: 0;
  background: var(--bg);
  font-family: 'Playfair Display', Arial, sans-serif;
  box-sizing: border-box;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

p {
  font-size: var(--fs-small);
}

h1,
h2,
h3 {
  margin-block: 2rem;
}

h2 {
  font-size: var(--fs-large);
}

h3 {
  font-size: var(--fs-medium);
}

/* Default Container */
.container {
  width: min(100% - 2rem, 1400px);
  margin-inline: auto;
}

/* Navigation */
header {
  height: fit-content;
  position: sticky;
  top: 0;
  background: var(--color-primary-400);
  font-size: var(--fs-smedium);
  box-shadow: 5px 0px 20px -15px rgba(0, 0, 0, .7);
  z-index: 1;
}

nav {
  display: flex;
  justify-content: space-between;
  /* border: 2px solid black; */
  padding: 1.5rem;
}

.navBar {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.navBar a {
  position: relative;
}

.navBar a:hover {
  color: #FCE4EC;
  transition: color 200ms ease-in;
}

.navBar a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  border-radius: 100%;
  color: var(--color-neutral-400);
  background: currentColor;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 225ms ease-in;
}

.navBar a:hover::after {
  transform: scaleX(1);
  transform-origin: left; 
}

@media screen and (max-width: 47em) {
  .navBar {
    opacity: 0;
    overflow: hidden;
  }
  /* For hamburger menu, within the media query use the width: min(nearly 100% for mobile, default size for menu when not mobile. It will use the second value when it is big enough and swap to 100% of the screen when mobile, whichever is smaller!) */
}

/* Hero Styling */

.hero {
  background-image: url(../src/mainBgAlt.jpg);
  background-repeat: no-repeat;
  background-position: center right 20%;
  background-size: cover;
  display: flex;
  align-items: center;
  height: 100svh;
  position: relative;
  overflow: hidden;
  isolation: isolate;
}

.hero .container {
  margin-inline-start: 60%;
}

.hero::before {
  content: '';
  position: absolute;
  background: linear-gradient(to right, rgba(255, 255, 255, .2), rgba(255, 255, 255, .1));
  inset: 0;
  z-index: -1;
}


.hero h1 {
  font-size: var(--fs-xlarge);
  width: min(80%, 30ch);
}

.hero p {
  width: min(80%, 30ch);
}

@media screen and (max-width: 47em) {
  .hero .container {
    margin: 0;
    display: flex;
    align-items: center;
    flex-flow: column nowrap;
    margin-inline: auto;
    text-align: center;
  }
  .hero h1 {
    font-size: var(--fs-large);
    width: min(80%, 30ch);
  }
  
  .hero p {
    font-size: var(--fs-xsmall);
    width: min(80%, 30ch);
  }
}

/* Features Styling */

.features {
  margin-block: 8rem;
  text-align: center;
}

.features .container {
  display: flex;
  justify-content: center;
  gap: 1.5rem;
}

.feature {
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  flex-basis: 300px;
  background-color: #fff;
  box-shadow: 0 1rem 2rem -1rem rgb(0 0 0 / .2);
  border-radius: 10px;
  color: var(--color-primary-400);
  padding: 1rem;
}

.feature * {
  margin-block: 1rem;
}

.feature h3 {
  margin-bottom: .25rem;
}

.feature img {
  opacity: 0;
}

.wrapper-img {
  width: 8rem;
  height: 8rem;
  position: relative;
  border-radius: 50%;
  overflow: hidden;
}

.mani {
  background-image: url(/assets/src/giorgio-trovato-gb6gtiTZKB8-unsplash.jpg);
  background-repeat: norepeat;
  background-size: cover;
  background-position: center right -50px;
}

.pedi {
  background-image: url(/assets/src/rune-enstad-qeuJczNo54w-unsplash.jpg);
  background-repeat: norepeat;
  background-size: cover;
  background-position: left;
}

.special {
  background-image: url(/assets/src/chelson-tamares-vtQHwU4F13s-unsplash.jpg);
  background-repeat: norepeat;
  background-size: cover;
  background-position: center;
}

@media screen and (max-width: 47em) {
  .features .container{
    flex-direction: column;
    align-items: center;
  }
  
  .feature {
    width: min(100% - 2rem, 350px);
  }
}

/* About Styling */ 

.about {
  background-color: #fff;
  margin-block: 8rem;
}

.about h2 {
  margin-block: 0 2rem;
  width: fit-content;
}

.about .container {
  padding-block: 5rem;
  display: flex;
  gap: 3rem;
}

.wrapper-content {
  flex-basis: 50%;
  margin-left: auto;
}

.about p {
  width: min(100% - 2rem, 45ch);
}

.about img {
  align-self: center;
  margin-inline-start: 10px;
  width: min(50% - 2rem, 600px);
  box-shadow: -10px 10px 0px 0px var(--color-primary-400);
}

@media screen and (max-width: 47em) {
  .about .container {
    display: block;
    text-align: center;
  }

  .about p {
    margin-inline: auto;
  }

  .about img {
    width: 100%;
    margin: 0 0 2rem 0;
    box-shadow: 0px 20px 0px -10px var(--color-primary-400);
  }
}

/* Services Styling */ 
.services .container {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 4rem;
}

.service th:first-child {
  width: 80%;
}

.services h2 {
  text-align: center;
}

.service,
.service tr:first-child {
  border-collapse: collapse;
  text-align: left;
  /* color: var(--color-neutral-400);
  background: var(--color-primary-400); */
}

caption,
th,
td {
  padding-block-end: .5rem;
  color: var(--color-primary-400);
  font-size: var(--fs-smedium);
}

td[data-cell="service"],
td[data-cell="price"] {
  font-size: var(--fs-small);
  font-weight: 700;
}

th[data-cell="price"],
td[data-cell="price"] {
  text-align: right;
}

td[data-cell="description"],
td[data-cell="description-last"] {
  font-size: var(--fs-xsmall);
}

td[data-cell="description"]::after {
  margin-block-start: 1rem;
  display: block;
  content: '';
  width: 90%;
  border-bottom: 5px dotted rgb(0 0 0 / .2);
}

caption {
  width: fit-content;
  text-align: left;
  font-weight: 700;
  text-transform: uppercase;
  font-size: var(--fs-smedium);
}

@media screen and (max-width: 47em) {
  .services .container {
    width: calc(100% - 2rem);
    flex-direction: column;
  }
  table {
    margin-inline: auto;
  }
}

/* Contact Styling */

.contact form {
  border: none;
}